* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Raleway', sans-serif;
}

.display-container {
  display: flex;
  margin: auto;
  width: 1170px;
}

.display {
  display: flex;
  flex-grow: 1;
}
.display .display-item {
  flex-grow: 1;
  flex-basis: 1px;
}

img {
  max-width: 100%;
}

.gallery {
  overflow: hidden;
  display: flex;
  position: relative;
}
.gallery .gallery-item {
  flex-grow: 1;
  flex-basis: 1px;
  display: none;
  position: relative;
}
.gallery .gallery-item .left, .gallery .gallery-item .right {
  transition: .3s all ease-in-out;
  position: absolute;
  top: 0;
  height: 100%;
  width: 5em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
.gallery .gallery-item .left:hover, .gallery .gallery-item .right:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.gallery .gallery-item .left:before, .gallery .gallery-item .right:before {
  content: '';
  width: 3em;
  height: 3em;
  position: absolute;
  transform: rotate(45deg);
  top: calc(50% - 1.5em);
  box-sizing: border-box;
}
.gallery .gallery-item .left {
  left: 0;
}
.gallery .gallery-item .left:before {
  left: 35%;
  border-left: 2px solid rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}
.gallery .gallery-item .right {
  right: 0;
}
.gallery .gallery-item .right:before {
  right: 35%;
  border-right: 2px solid rgba(255, 255, 255, 0.8);
  border-top: 2px solid rgba(255, 255, 255, 0.8);
}
.gallery .gallery-item .image img {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */
}
.gallery input[type=radio] {
  display: none;
}
.gallery input[type=radio]:checked + .gallery-item {
  display: block;
}
